@model JogoDetalheModel
@{
    ViewBag.Title = "DetalhesJogos";
}
<h2>DetalhesJogos</h2>
<table class="table table-hover">
    <tr>
        <td>Id</td>
        <td>@Model.IdJogo</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <td>Descrição</td>
        <td>@Model.Descricao</td>
    </tr>
    <tr>
        <td>Preço</td>
        <td>@Model.Preco</td>
    </tr>
    <tr>
        <td>Categoria</td>
        <td>@Model.Categoria</td>
    </tr>
    <tr>
        <td>Selo</td>
        <td>@Model.Selo</td>
    </tr>
    <tr>
        <td>Imagem</td>
        <td><img src=@Model.Imagem></td>
    </tr>
    <tr>
        <td>Video</td>
        <td>@Html.Raw(Model.Video)</td>
    </tr>
</table>
<a href="~/Relatorio/JogosDisponiveis" class="btn btn-primary">Voltar</a>
