@model JogoDetalheModel
@{
    ViewBag.Title = "DetalhesJogos";
}
<h2>DetalhesJogos</h2>
<table class="table">
    <tr>
        <td class="cor">Id</td>
        <td>@Model.IdJogo</td>
    </tr>
    <tr>
        <td class="cor">Nome</td>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <td class="cor">Descrição</td>
        <td>@Model.Descricao</td>
    </tr>
    <tr>
        <td class="cor">Categoria</td>
        <td>@Model.Categoria</td>
    </tr>
    <tr>
        <td class="cor">Selo</td>
        <td>@Model.Selo</td>
    </tr>
    <tr>
        <td class="cor">Imagem</td>
        <td><img src=@Model.Imagem class="img-responsive"></td>
    </tr>
    <tr>
        <td class="cor">Video</td>
        <td><iframe width="560" height="315" src=@Model.Video frameborder="0" allowfullscreen></iframe></td>
    </tr>
</table>
<a href="~/Relatorio/JogosDisponiveis" class="btn btn-primary">Voltar</a>
