@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

<h2>Jogos disponíveis para locação</h2>

<table class="table  table-bordered table-hover" style="background-image: url('../../Content/images/adventure-time-jake.jpg'); ">
    <thead>
        <tr>
            <th>Jogo</th>            
            <th>Categoria</th>
            <th>Preço</th>
        </tr>
    </thead>
    @foreach (var jogo in @Model.Jogos)
    {
        <tr>
            <td>@jogo.Nome</td>            
            <td>@jogo.Categoria</td>
            <td>@jogo.Preco.ToString("c")</td>
        </tr>
    }
</table>
<div class="alert-success">
    Quantidade Total de Jogos: @Model.QuantidadeTotalDeJogos<br />
    Jogo Mais Caro: @Model.JogoMaisCaro<br />
    Jogo Mais Barato: @Model.JogoMaisBarato<br />
    Valor Médio dos Jogos: @Model.ValorMedio
</div>
