@model RelatorioModel
@{
    ViewBag.Title = "Jogos Disponíveis";
}

<h2>Jogos disponíveis para locação</h2>

<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th class="cor"> ID</th>
            <th class="cor">Jogo</th>            
            <th class="cor">Categoria</th>
            <th class="cor">Preço</th>
            <th class="cor">Detalhes</th>
        </tr>
    </thead>
    @foreach (var jogo in @Model.Jogos)
    {
        <tr>
            <td>@jogo.IdJogo</td>
            <td>@jogo.Nome</td>            
            <td>@jogo.Categoria</td>
            <td>@jogo.Preco.ToString("c")</td>
            <td><a href="~/Relatorio/DetalhesJogos/@jogo.IdJogo">Detalhes</a></td>
        </tr>
    }
</table>
<div class="alert-success">
    Quantidade Total de Jogos: @Model.QuantidadeTotalDeJogos<br />
    Jogo Mais Caro: @Model.JogoMaisCaro<br />
    Jogo Mais Barato: @Model.JogoMaisBarato<br />
    Valor Médio dos Jogos: @Model.ValorMedio
</div>
<br />
<a href="~/Home/Index" class="btn btn-primary">Voltar</a>

